apiVersion: v1
kind: Service
metadata:
  name: penai-master-service
  labels:
    app: penai
    component: master
spec:
  selector:
    app: penai
    component: master
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
  type: ClusterIP